<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ru.nsu.ccfit.resync.storage" name="Preference Storage" schema="schema/ru.nsu.ccfit.resync.store.exsd"/>
   <extension
         id="ru.nsu.ccfit.resync.commands"
         name="resync commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            description="Synchronize Eclipse Preferences"
            id="ru.nsu.ccfit.resync.commands.synchronize"
            name="Synchronize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.nsu.ccfit.resync.handlers.SynchronizeHandler"
            commandId="ru.nsu.ccfit.resync.commands.synchronize">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help">
            <command
                  commandId="ru.nsu.ccfit.resync.commands.synchronize"
                  id="ru.nsu.ccfit.resync.menus.help.synchronize"
                  mnemonic="S">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="ru.nsu.ccfit.resync.storage">
      <storageFactory
            class="ru.nsu.ccfit.resync.storage.github.GithubStorageFactory"
            displayName="Github">
      </storageFactory>
      <storageFactory
            class="ru.nsu.ccfit.resync.storage.disk.DiskStorageFactory"
            displayName="Local">
      </storageFactory>
   </extension>
</plugin>
